.nested-fields.well
  = link_to_remove_association append_icon("Remove Slice", "close"), f, :class => "pull-right"
  = f.input :name, :label => "Slice Name"
  = f.input :percent, :label => "Slice Percentage"
